
<% @books.each do |book| %>

  <span><%= link_to "Edit", edit_book_path(@book.id) %></span>
  
<% end %>

<% @books.each do |book| %>

  <span><%= link_to "Destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" %></span>
  
<% end %>
